 <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection"/>
      
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
      
      <nav>
    <div class="nav-wrapper">
      <span style="margin-left: 1cm;">22/12/16 10:20AM</span>
      <a href="#" class="brand-logo center">Fayeed's Blog</a>
     
    </div>
  </nav>

       <div class="container">
        <div class="row">
        <div class="col s12 m8 push-m2">
          <div class="card large " id="pagani">
            <div class="card-image">
              <img src="static/images/1.jpg">
              <span class="card-title" style="color: crimson;">Pagani</span>
            </div>
            <div class="card-content">
              <p>Pagani Automobili S.p.A. is an Italian manufacturer of supercars and carbon fibre. The company was founded in 1992 by the Argentinian Horacio Pagani</p>
            </div>
            <div class="card-action">
              <a href="http://pagani.com">visit Pagani</a>
            </div>
          </div>
        </div>
      </div>



        <div class="row">
        <div class="col s12 m8 push-m2">
          <div class="card large " id="bugatti">
            <div class="card-image">
              <img src="static/images/2.jpg">
              <span class="card-title" style="color: firebrick;">Bugatti</span>
            </div>
            <div class="card-content">
              <p>Automobiles Ettore Bugatti was a French car manufacturer of high-performance automobiles, founded in 1909 in the then German city of Molsheim, Alsace by Italian-born Ettore Bugatti.</p>
            </div>
            <div class="card-action">
              <a href="http://bugatti.com/home/">visit Bugatti</a>
            </div>
          </div>
        </div>
      </div>

    </div>
      



     
        <footer class="page-footer">
          
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Reach Me</h5>
                <p class="grey-text text-lighten-4">You can click on the links to reach me.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li style="display:inline-block"><a class="grey-text text-lighten-3" href="http://facebook.com/abdul.fayeed1">Facebook</a></li>
                  <li style="display:inline-block"><a class="grey-text text-lighten-3" href="https://instagram.com/abdul_fayeed/?hl=en">Instagram</a></li>
                  <li style="display:inline-block"><a class="grey-text text-lighten-3" href="http://fyd98.tumblr.com">Tumblr</a></li>
                </ul>
              </div>
            </div>
          
          <div class="footer-copyright">
            <div class="container">
            © 2016 Copyright Fayeed
            <a class="grey-text text-lighten-4 right" href="#!"> abdulfayeed011@gmail.com</a>
            </div>
          </div>
        </footer>
    
      
   



      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="static/js/materialize.min.js"></script>
      <script type="text/javascript">
      $('#pagani').click(function(){
        localStorage.setItem("car","pagani");
        window.location.href = "/detailedpost";
      });
      $('#bugatti').click(function(){
        localStorage.setItem("car","bugatti");
        window.location.href= "/detailedpost";
      })
      </script>
      
    </body>
  </html>